.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border: 2px solid rgb(81, 50, 3);
  margin: auto;
  width: 90%;
  background: black;
  background-size: auto;
}

.assetForm {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  color: white;
}

form {
  margin-left: 0px;
}

.dataFetch {
  display: flex;
  width: 100%;
  margin-left: 0px;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}

.listItem {
  padding-top: 3px;
}

.dataList {
  list-style-type: none;
}

.listCnt {
  height: 250px;
  overflow: auto;
  scrollbar-width: none;
}

.errorss {
  color: red;
}
.titleBarCont {
  width: 100%;

  display: block;
}
.titleBar {
  --u: 8vmin;
  --c1: #ffa726;
  --c2: #e59319;
  --c3: #f1a12c;
  --c4: #cf8b26;
  --sh: #0006;
  --sh2: #0002;
  --gp: 50% / calc(var(--u) * 2) calc(var(--u) * 2);
  height: 230px;
  border-bottom: 5px solid rgb(238, 200, 161);
  padding-left: 50px;
  background: conic-gradient(
        from -10deg at 60% 0%,
        #fff0 0 25%,
        var(--sh2) 28%,
        #fff0 31% 100%
      )
      var(--gp),
    conic-gradient(
        from -5deg at 0% calc(60% - 1px),
        #fff0 0,
        var(--sh) 0%,
        #fff0 4% 100%
      )
      var(--gp),
    conic-gradient(
        from 0deg at 60% calc(60% - 1px),
        #fff0 0 22%,
        var(--sh2) 25%,
        #fff0 25% 100%
      )
      var(--gp),
    conic-gradient(
        from 0deg at 60% calc(60% - 1px),
        var(--c4) 0 25%,
        #fff0 0 97.5%,
        var(--sh) 102%
      )
      var(--gp),
    linear-gradient(
        180deg,
        #fff0 0%,
        var(--sh) 10%,
        #fff0 10% 50%,
        var(--sh) 50%,
        #fff0 60% 101%
      )
      var(--gp),
    linear-gradient(180deg, #fff0 10%, var(--c3) 10% 50%, #fff0 50% 100%)
      var(--gp),
    linear-gradient(
        90deg,
        #fff0 0%,
        var(--sh) 10%,
        #fff0 10% 50%,
        var(--sh) 50%,
        #fff0 60% 100%
      )
      var(--gp),
    linear-gradient(90deg, #fff0 10%, var(--c2) 10% 50%, #fff0 50% 100%)
      var(--gp),
    linear-gradient(180deg, #fff0 60%, var(--c1) 60% 100%) var(--gp), #6a1c00;
}
.titleBarDim{
  --u: 8vmin;
  --c1: #ffa726;
  --c2: #e59319;
  --c3: #f1a12c;
  --c4: #cf8b26;
  --sh: #0006;
  --sh2: #0002;
  --gp: 50% / calc(var(--u) * 2) calc(var(--u) * 2);
  height: 200px;
  border-bottom: 5px solid rgb(238, 200, 161);
  padding-left: 50px;
  background: conic-gradient(
        from -10deg at 60% 0%,
        #fff0 0 25%,
        var(--sh2) 28%,
        #fff0 31% 100%
      )
      var(--gp),
    conic-gradient(
        from -5deg at 0% calc(60% - 1px),
        #fff0 0,
        var(--sh) 0%,
        #fff0 4% 100%
      )
      var(--gp),
    conic-gradient(
        from 0deg at 60% calc(60% - 1px),
        #fff0 0 22%,
        var(--sh2) 25%,
        #fff0 25% 100%
      )
      var(--gp),
    conic-gradient(
        from 0deg at 60% calc(60% - 1px),
        var(--c4) 0 25%,
        #fff0 0 97.5%,
        var(--sh) 102%
      )
      var(--gp),
    linear-gradient(
        180deg,
        #fff0 0%,
        var(--sh) 10%,
        #fff0 10% 50%,
        var(--sh) 50%,
        #fff0 60% 101%
      )
      var(--gp),
    linear-gradient(180deg, #fff0 10%, var(--c3) 10% 50%, #fff0 50% 100%)
      var(--gp),
    linear-gradient(
        90deg,
        #fff0 0%,
        var(--sh) 10%,
        #fff0 10% 50%,
        var(--sh) 50%,
        #fff0 60% 100%
      )
      var(--gp),
    linear-gradient(90deg, #fff0 10%, var(--c2) 10% 50%, #fff0 50% 100%)
      var(--gp),
    linear-gradient(180deg, #fff0 60%, var(--c1) 60% 100%) var(--gp), #6a1c00;
}
#mainH {
  font-family: "Merriweather";
  font-size: 120px;
  text-shadow: 8px 5px hsla(30, 1%, 32%, 0.7);
  margin-top: 0px;
  margin-left: 5%;
  color: hsl(35, 52%, 91%);
}

#mainHt {
  
  font-family: "Merriweather";
  font-size: 28px;
  color: rgb(231, 229, 225);
  text-shadow: 3px 1px hsla(30, 1%, 32%, 0.7);
  margin-bottom: 20px;
  margin-left: 12%;
}
.welcomeMsg{
  margin-bottom: 3%;
  padding-top: 1%;
  font-family: "Merriweather";
  font-size: 26px;
  color: rgb(229, 167, 50);
 
  margin-left: 10%;
}

.navbarCont {
  width: 100%;
  margin-bottom: 1%;
  margin-left: 5%;
  border-bottom: 2px solid rgb(66, 50, 6);
  height: 60px;
  display: flex;
  align-content: center;
  justify-content: left;
}

.navbar a {
  margin: 0 15px;
  text-decoration: none;
  font-family: "Merriweather";
  font-size: 20px;
  color: hsl(50, 94%, 51%);
}

.userEntry {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  color: white;
}

#findStuffButton {
  height: 120px;
  width: 250px;
  border-radius: 50%;
  margin: 10px;
  margin-left: -8px;
  border: 2px inset white;
  font-size: 22px;
  font-family: "Merriweather";
  color: rgb(244, 174, 117);
  background: rgb(232, 5, 5);
}
#findStuffButton:hover {
  border: 2px outset white;
}
#findStuffButton:active {
  background: rgb(77, 1, 1);
  border: 2px outset rgb(70, 68, 68);
  color: rgb(85, 83, 83);
}

.searchForm {
  border: 2px inset rgb(186, 159, 7);
  margin: 30px 10px 20px 20px;
  width: 200px;
  height: 30px;
}
#itemCategories {
  height: 30px;
  width: 100%;
  font-size: 20px;

  border-radius: 5px;
  color: rgb(244, 174, 117);
  background-color: black;
}

.sidePanel {
  width: 10%;
  margin-right: 5%;
  height: 600px;

  display: flex;
  flex-direction: column;
}

.windowCont {
  display: flex;
  width: 100%;
  flex-direction: row;

  margin-left: 0px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="data"] {
  display: block;
  width: 400px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42;
  background: ltgray;
  background-image: none;
  border: 1px solid white;
  border-radius: 4px;
  margin-bottom: 20px;
}
#category {
  display: block;
  width: 400px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42;
  background: ltgray;
  background-image: none;
  border: 1px solid white;
  border-radius: 4px;
  margin-bottom: 20px;
}

.showDeal {
  color: red;
  text-orientation: upright;
  writing-mode: vertical-rl;
  font-size: 25px;
}
.shopWindow {
  width: 80%;

  margin-left: 0px;
  display: flex;
  flex-wrap: wrap;
  border-left: 2px solid orange;

  flex-direction: row;
  padding: 2%;
  justify-content: left;
}

.itemCard {
  width: 16%;
  height: 300px;
  background: hsl(39, 78%, 75%);
  border-radius: 15px;
  color: black;
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.cardWindow {
  width: 90%;
  height: 45%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#itemPics {
  max-width: 90%;
  max-height: 85%;
  margin-top: 0px;
  border-radius: 5px;
  box-shadow: 1px 2px gray;
}
#itemPics:hover {
  box-shadow: 2px 4px gray;
  max-width: 91%;
  max-height: 91%;
}

.description {
  font-weight: bold;
  font-size: 14px;
  font-family: "Merriweather";
  text-justify: center;
  margin-left: 6%;
  color: black;
  background: hsla(39, 78%, 75%, 0.6);
  border-radius: 2px;
}

.price {
  font-weight: bold;
  font-size: 16px;
  font-family: "Merriweather";
  color: rgb(226, 14, 14);
  background: hsla(39, 78%, 75%, 0.6);
  margin: auto;
  margin-top: 0px;
}

.cardTitle {
  margin: auto;
}

.purchasePageCont {
  border: 1px solid white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  color: white;
  font-size: 30px;
}
.purchaseWindow {
  border: 1px solid red;
  width: 80%;
  height: 500px;
}

.div {
  justify-content: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.div-2 {
  background-color: #0b0a0a;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 73px 60px;
}
@media (max-width: 991px) {
  .div-2 {
    max-width: 100%;
    padding: 0 20px;
  }
}
.div-3 {
  display: flex;
  width: 100%;
  max-width: 1235px;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-3 {
    max-width: 100%;
  }
}
.div-4 {
  background-color: #080808;
  height: 60px;
}
@media (max-width: 991px) {
  .div-4 {
    max-width: 100%;
  }
}
.div-5 {
  margin-top: 46px;
}
@media (max-width: 991px) {
  .div-5 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-6 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-6 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 28%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.div-7 {
  display: flex;
  margin-top: 93px;
  flex-direction: column;
  font-weight: 400;
}
@media (max-width: 991px) {
  .div-7 {
    margin-top: 40px;
  }
}
.div-8 {
  background-color: #070707;  
  color: white;
  font-size: 20px;
  height: 48px;
}
.div-9 {
  background-color: #080808;
  color: white;
  font-size: 20px;
  margin-top: 29px;
  height: 48px;
}
.div-10 {
  background-color: #080808;
  color: white;
  font-size: 20px;
  margin-top: 29px;
  height: 48px;
}


.div-13 {
  display: flex;
  flex-direction: column;
  margin-top: 58px;
  align-items: start;
  gap: 20px;
  font-size: 16px;
  color: #f6f2f2;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .div-13 {
    margin-top: 40px;
  }
}
.div-14 {
  font-family: Roboto Serif, -apple-system, Roboto, Helvetica,
    sans-serif;
  justify-content: center;
  font-size: 20px;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 1);
  color: white;
  border-style: solid;
  border-width: 1px;
  background-color: #e83a22;
  padding: 16px 35px;
}

@media (max-width: 991px) {
  .div-14 {
    padding: 0 20px;
  }
  .div-15 {
    padding: 0 20px;
  }
}

.div-15 {
  font-family: Roboto Serif, -apple-system, Roboto, Helvetica,
    sans-serif;
  justify-content: center;
  width: 162px;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  background-color: #e83a22;
  padding: 17px 20px;
}
.div-14:hover{
  background-color: #971909;
}

.div-15:hover{
  background-color: #971909;
}
.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 72%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-2 {
    width: 100%;
  }
}
.div-16 {
  background-color: #ca8c2e;
  width: 833px;
  max-width: 100%;
 
  margin: 0 auto;
}
@media (max-width: 991px) {
  .div-16 {
    margin-top: 40px;
  }
}
.frame-child {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 300px;
  height: 73px;
  position: relative;
  background-color: #060606;
 
  
}
.shopping-cart {
  height: 49px;
  width: 290px;
  margin-left: 50px;
 
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.shopping-cart-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px 0 21px;
}
.frame-item {
  align-self: stretch;
  flex: 1;
  position: relative;
  border: 1px solid white;
  background-color: #090909;

}
.frame-parent,
.frame-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent {
  width: 667px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 23px;
}
.frame-wrapper {
  flex: 1;
  flex-direction: row;
  justify-content: center;
  padding: 0 10px 0 20px;
  box-sizing: border-box;
  text-align: left;
  font-size: 30px;
  color: #f1c296;
  font-family: "Roboto Serif";
}
.desktop-1,
.rectangle-parent {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
 
}
.rectangle-parent {
  height: max-content;
  flex: 1;
  background-color: #020202;
  flex-direction: column;
  padding: 0 0 248px 46px;
  box-sizing: border-box;
  gap: 103px;
  max-width: 100%;
}
.desktop-1 {
  width: 100%;
  height: max-content;
  position: relative;
  background-color: #fff;
  flex-direction: row;
  letter-spacing: normal;
}
@media screen and (max-width: 825px) {
  .shopping-cart {
    font-size: 26px;
  }
  .rectangle-parent {
    gap: 51px 103px;
    padding-left: 23px;
    padding-bottom: 161px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .shopping-cart {
    font-size: 19px;
  }
  .rectangle-parent {
    gap: 26px 103px;
    padding-bottom: 105px;
    box-sizing: border-box;
  }
}